{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'base_message.html' %}
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Edit Product</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'pos:product-list' %}">Product</a></li>
                                <li class="breadcrumb-item active">Edit Product</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="p-2">
                                <form method="post">
                                    {% csrf_token %}

                                    <!-- Display non-field specific errors -->
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {% for error in form.non_field_errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.name.id_for_label }}">Product
                                                    Name</label>
                                                <input id="{{ form.name.id_for_label }}" name="{{ form.name.name }}"
                                                       placeholder="Enter Product Name" type="text" class="form-control"
                                                       value="{{ form.name.value|default:'' }}">
                                                <!-- Display field-specific errors -->
                                                {% if form.name.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.name.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.code.id_for_label }}">Product
                                                    Code</label>
                                                <input id="{{ form.code.id_for_label }}" name="{{ form.code.name }}"
                                                       placeholder="Enter Product Code" type="text" class="form-control"
                                                       value="{{ form.code.value|default:'' }}">
                                                <!-- Display field-specific errors -->
                                                {% if form.code.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.code.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.stock.id_for_label }}">Product
                                                    Stock Number</label>
                                                <input id="{{ form.stock.id_for_label }}" name="{{ form.stock.name }}"
                                                       placeholder="Enter Product Stock" type="number" min="0" step="1"
                                                       class="form-control" value="{{ form.stock.value|default:'' }}">
                                                <!-- Display field-specific errors -->
                                                {% if form.stock.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.stock.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.buy_price.id_for_label }}">Buy
                                                    Price (1.00)</label>
                                                <input id="{{ form.buy_price.id_for_label }}"
                                                       name="{{ form.buy_price.name }}"
                                                       placeholder="Enter Product Buy Price" type="number" min="0"
                                                       step="0.01"
                                                       class="form-control"
                                                       value="{{ form.buy_price.value|default:'' }}">
                                                <!-- Display field-specific errors -->
                                                {% if form.buy_price.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.buy_price.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="{{ form.sell_price.id_for_label }}">Sell
                                                    Price (1.00)</label>
                                                <input id="{{ form.sell_price.id_for_label }}"
                                                       name="{{ form.sell_price.name }}"
                                                       placeholder="Enter Product Sell Price" type="number" min="0"
                                                       step="0.01"
                                                       class="form-control"
                                                       value="{{ form.sell_price.value|default:'' }}">
                                                <!-- Display field-specific errors -->
                                                {% if form.sell_price.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.sell_price.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="{{ form.status.id_for_label }}"
                                                       class="form-label">Status</label>
                                                <select class="form-select" data-trigger name="{{ form.status.name }}"
                                                        id="{{ form.status.id_for_label }}">
                                                    <option value="1"
                                                            {% if form.status.value == 1 %}selected{% endif %}>Active
                                                    </option>
                                                    <option value="0"
                                                            {% if form.status.value == 0 %}selected{% endif %}>Inactive
                                                    </option>
                                                </select>
                                                <!-- Display field-specific errors -->
                                                {% if form.status.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.status.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
                                                <select class="form-select" name="{{ form.category.name }}"
                                                        id="{{ form.category.id_for_label }}">
                                                    {% for category in categories %}
                                                        <option value="{{ category.id }}"
                                                                {% if form.category.value == category.id|stringformat:"s" %}selected{% endif %}>
                                                            {{ category.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <!-- Display field-specific errors for category -->
                                                {% if form.category.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.category.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="{{ form.description.id_for_label }}">Product
                                            Description</label>
                                        <textarea class="form-control" id="{{ form.description.id_for_label }}"
                                                  name="{{ form.description.name }}"
                                                  placeholder="Enter Product Description"
                                                  rows="4">{{ form.description.value|default:'' }}</textarea>
                                        <!-- Display field-specific errors -->
                                        {% if form.description.errors %}
                                            <div class="text-danger">
                                                {% for error in form.description.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="hstack gap-2 mt-4">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <a href="{% url 'pos:product-list' %}" class="btn btn-light">Discard</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
{% endblock %}
