{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'base_message.html' %}
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Sale Product List</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'pos:dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Sale Product List</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row pb-4 gy-3">
                <div class="col-sm-4">
                    <a href="{% url 'pos:make-sale' %}" class="btn btn-primary"><i
                            class="las la-plus me-1"></i> Create Sale
                    </a>
                </div>

                <div class="col-sm-auto ms-auto">
                    <form method="get" action="{% url 'pos:sale-item-list' %}">
                        <div class="d-flex gap-3">
                            <div class="search-box">
                                <input type="text" class="form-control" id="searchProductList"
                                       name="search" value="{{ request.GET.search }}"
                                       placeholder="Search for Result">
                                <i class="las la-search search-icon"></i>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-soft-info">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive table-card">
                                <table class="table table-hover table-nowrap align-middle mb-0">
                                    <thead>
                                    <tr class="text-muted text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col">Sale Invoice</th>
                                        <th scope="col">Sale Date</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for sale in page %}
                                        <tr>
                                            <td>{{ sale.product }}</td>
                                            <td>{{ sale.sale }}</td>
                                            <td>{{ sale.date_added }}</td>
                                            <td>{{ sale.price }}</td>
                                            <td>{{ sale.qty }}</td>
                                            <td>{{ sale.total }}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="las la-ellipsis-h align-middle fs-18"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a href="#" class="dropdown-item remove-item-btn delete-btn"
                                                               data-id="{{ sale.id }}"
                                                               data-name="{{ sale.product }}"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                                <i class="las la-trash-alt fs-18 align-middle me-2 text-muted"></i>
                                                                Delete
                                                            </a>
                                                        </li>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5">No categories found.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div>
                    </div>

                    <div class="row align-items-center mb-2 gy-3">
                        <div class="col-md-5">
                            <p class="mb-0 text-muted">Showing <b>{{ page.start_index }}</b> to
                                <b>{{ page.end_index }}</b> of <b>{{ page.paginator.count }}</b> results</p>
                        </div>
                       <div class="col-sm-auto ms-auto">
                        <nav aria-label="">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <span class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
                                </li>
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% if page.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
                                    </li>
                                {% endif %}
                                <li class="page-item">
                                    <span class="page-link">Go to Page</span>
                                </li>
                                <li class="page-item">
                                    <select class="form-select" id="pageSelect" onchange="window.location.href='?page='+this.value" style="padding-top: .25rem; height: 2.3rem;">
                                        {% for p in page.paginator.page_range %}
                                            <option value="{{ p }}" {% if p == page.number %}selected{% endif %}>{{ p }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-btn');
            const dataNameElement = document.getElementById('name-to-delete');
            const deleteForm = document.getElementById('delete-form');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    const dataName = event.target.getAttribute('data-name');
                    const dataId = event.target.getAttribute('data-id');
                    dataNameElement.textContent = dataName;  // Populate modal with name

                    // Update the form's action to point to the delete view
                    deleteForm.action = `{% url 'pos:sale-item-delete' sale_item_id='0' %}`.replace('0', dataId);
                });
            });
        });
    </script>
{% endblock %}



