{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'base_message.html' %}
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Sales List</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'pos:dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Sales List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row pb-4 gy-3">
                <div class="col-sm-4">
                    <a href="{% url 'pos:make-sale' %}" class="btn btn-primary"><i
                            class="las la-plus me-1"></i> Create Sale
                    </a>
                </div>

                <div class="col-sm-auto ms-auto">
                    <form method="get" action="{% url 'pos:sale-list' %}">
                        <div class="d-flex gap-3">
                            <div class="search-box">
                                <input type="text" class="form-control" id="searchSalesList"
                                       name="search" value="{{ request.GET.search }}"
                                       placeholder="Search for Sales">
                                <i class="las la-search search-icon"></i>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-soft-info">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive table-card">
                                <table class="table table-hover table-nowrap align-middle mb-0">
                                    <thead>
                                    <tr class="text-muted text-uppercase">
                                        <th scope="col">Sale Code</th>
                                        <th scope="col">Sub Total</th>
                                        <th scope="col">Tax Amount</th>
                                        <th scope="col">Grand Total</th>
                                        <th scope="col">Sale By</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for sale in page %}
                                        <tr>
                                            <td>{{ sale.code }}</td>
                                            <td>{{ sale.sub_total }}</td>
                                            <td>{{ sale.tax_amount }}</td>
                                            <td>{{ sale.grand_total }}</td>
                                            <td>{{ sale.created_by.username }}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-soft-secondary btn-sm dropdown-toggle"
                                                            type="button" data-bs-toggle="dropdown">
                                                        <i class="las la-ellipsis-h align-middle fs-18"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <!-- Update action links as needed -->
                                                        <li>
                                                            <a href="#" class="dropdown-item">
                                                                <i class="las la-eye fs-18 align-middle me-2 text-muted"></i>
                                                                View
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="dropdown-item remove-item-btn delete-btn"
                                                               data-id="{{ sale.id }}"
                                                               data-name="{{ sale.code }}"
                                                               data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                                <i class="las la-trash-alt fs-18 align-middle me-2 text-muted"></i>
                                                                Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5">No sales found.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div>
                    </div>

                    <div class="row align-items-center mb-2 gy-3">
                        <div class="col-md-5">
                            <p class="mb-0 text-muted">Showing <b>{{ page.start_index }}</b> to
                                <b>{{ page.end_index }}</b> of <b>{{ page.paginator.count }}</b> results</p>
                        </div>
                        <div class="col-sm-auto ms-auto">
                            <nav aria-label="...">
                                <ul class="pagination mb-0">
                                    {% if page.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1">First</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page.previous_page_number }}">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% if page.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-btn');
            const dataNameElement = document.getElementById('name-to-delete');
            const deleteForm = document.getElementById('delete-form');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    const dataName = event.target.getAttribute('data-name');
                    const dataId = event.target.getAttribute('data-id');

                    dataNameElement.textContent = dataName;  // Populate modal with name

                    // Update the form's action to point to the delete view
                    deleteForm.action = `{% url 'pos:sale-delete' sale_id='0' %}`.replace('0', dataId);
                });
            });
        });
    </script>
{% endblock %}
