{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        {% include 'base_message.html' %}
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Set Password</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'pos:dashboard' %}">Profile</a></li>
                            <li class="breadcrumb-item active">Set Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="p-2">
                            <form method="post">
                                {% csrf_token %}

                                <!-- Display non-field specific errors -->
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.new_password1.id_for_label }}">New
                                        Password</label>
                                    <input id="{{ form.new_password1.id_for_label }}"
                                        name="{{ form.new_password1.name }}" placeholder="Enter New Password"
                                        type="password" class="form-control"
                                        value="{{ form.new_password1.value|default:'' }}">
                                    <!-- Display field-specific errors -->
                                    {% if form.new_password1.errors %}
                                    <div class="text-danger">
                                        {% for error in form.new_password1.errors %}
                                        <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.new_password2.id_for_label }}">Confirm New
                                        Password</label>
                                    <input id="{{ form.new_password2.id_for_label }}"
                                        name="{{ form.new_password2.name }}" placeholder="Confirm New Password"
                                        type="password" class="form-control"
                                        value="{{ form.new_password2.value|default:'' }}">
                                    <!-- Display field-specific errors -->
                                    {% if form.new_password2.errors %}
                                    <div class="text-danger">
                                        {% for error in form.new_password2.errors %}
                                        <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="hstack gap-2 mt-4">
                                    <button type="submit" class="btn btn-primary">Set Password</button>
                                    <a href="{% url 'pos:dashboard' %}" class="btn btn-light">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
</div>
{% endblock %}
