{% include 'base.html' %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                <div class="w-100">
                    <div class="d-flex flex-column h-100 py-0 py-xl-4">

                        <div class="text-center mb-5">
                            <a href="/">
                                    <span class="logo-lg">
                                        <img src="{% static 'assets/images/logo-sm.png' %}" alt=""
                                             height="22">
                                        <h5 class="text-center mt-2 text-uppercase fw-bolder">POS System</h5>
                                    </span>
                            </a>
                        </div>

                        <div class="card my-auto overflow-hidden">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">
                                        <div class="text-center">
                                            <h5 class="mb-0">Create New Account</h5>
                                            <p class="text-muted mt-2">Get your free Invoika account now</p>
                                        </div>
                                        {% include 'base_message.html' %}
                                        <div class="mt-4">
                                            <form method="POST" class="auth-input">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="email " class="form-label">Email</label>
                                                    <input type="email" name="email" class="form-control" id="email"
                                                           placeholder="Enter email">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="username" class="form-label">Username</label>
                                                    <input type="text" class="form-control" id="username"
                                                           name="username"
                                                           placeholder="Enter username">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="first_name" class="form-label">First Name</label>
                                                    <input type="text" class="form-control" id="first_name"
                                                           name="first_name"
                                                           placeholder="Enter fist name">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="last_name" class="form-label">First Name</label>
                                                    <input type="text" class="form-control" id="last_name"
                                                           name="last_name"
                                                           placeholder="Enter last name">
                                                </div>

                                                <div class="mb-2">
                                                    <label for="password1" class="form-label">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input type="password" class="form-control pe-5 password-input"
                                                               name="password1"
                                                               placeholder="Enter password" id="password-input">
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                                type="button" id="password-addon"><i
                                                                class="las la-eye align-middle fs-18"></i></button>
                                                    </div>
                                                </div>

                                                <div class="mb-2">
                                                    <label for="password2" class="form-label">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input type="password" class="form-control pe-5 password-input"
                                                               name="password2"
                                                               placeholder="Enter password" id="password-input">
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                                type="button" id="password-addon"><i
                                                                class="las la-eye align-middle fs-18"></i></button>
                                                    </div>
                                                </div>

                                                <div class="fs-16 pb-2">
                                                    <p class="mb-0 fs-14 text-muted fst-italic">By registering you agree
                                                        to the Invoika <a href="#"
                                                                          class="text-primary text-decoration-underline fst-normal fw-medium">Terms
                                                            of Use</a></p>
                                                </div>

                                                <div class="mt-2">
                                                    <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                                                </div>

                                                <div class="mt-4 text-center">
                                                    <p class="mb-0">Already have an account ? <a
                                                            href="{% url 'account:login' %}"
                                                            class="fw-medium text-primary text-decoration-underline">
                                                        Signin </a></p>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex h-100 bg-auth align-items-center">
                                            <div class="p-lg-5 p-4">
                                                <div class="bg-overlay bg-primary">

                                                </div>
                                                <div class="p-0 p-sm-4 px-xl-0 py-5">
                                                    <div id="reviewcarouselIndicators"
                                                         class="carousel slide auth-carousel" data-bs-ride="carousel">
                                                        <div class="carousel-indicators carousel-indicators-rounded">
                                                            <button type="button"
                                                                    data-bs-target="#reviewcarouselIndicators"
                                                                    data-bs-slide-to="0" class="active"
                                                                    aria-current="true" aria-label="Slide 1"></button>
                                                            <button type="button"
                                                                    data-bs-target="#reviewcarouselIndicators"
                                                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                            <button type="button"
                                                                    data-bs-target="#reviewcarouselIndicators"
                                                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                            <button type="button"
                                                                    data-bs-target="#reviewcarouselIndicators"
                                                                    data-bs-slide-to="3" aria-label="Slide 4"></button>
                                                            <button type="button"
                                                                    data-bs-target="#reviewcarouselIndicators"
                                                                    data-bs-slide-to="4" aria-label="Slide 5"></button>
                                                        </div>

                                                        <!-- end carouselIndicators -->
                                                        <div class="carousel-inner mx-auto">
                                                            <div class="carousel-item active">
                                                                <div class="testi-contain text-center">
                                                                    <h5 class="fs-20 text-white mb-0">Manage
                                                                        Product</h5>
                                                                    <p class="fs-15 text-white-50 mt-2 mb-0">
                                                                        The central hub for all product related
                                                                        operations. Add, edit, and categorize products
                                                                        seamlessly.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="carousel-item">
                                                                <div class="testi-contain text-center">
                                                                    <h5 class="fs-20 text-white mb-0">Manage Stock</h5>
                                                                    <p class="fs-15 text-white-50 mt-2 mb-0">
                                                                        Keep track of your inventory levels, restock
                                                                        alerts, and get insights on product performance.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="carousel-item">
                                                                <div class="testi-contain text-center">
                                                                    <h5 class="fs-20 text-white mb-0">Manage
                                                                        Invoice</h5>
                                                                    <p class="fs-15 text-white-50 mt-2 mb-0">
                                                                        Generate, modify, and send invoices with ease.
                                                                        Get an overview of your transaction history.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="carousel-item">
                                                                <div class="testi-contain text-center">
                                                                    <h5 class="fs-20 text-white mb-0">Manage Sale
                                                                        Record</h5>
                                                                    <p class="fs-15 text-white-50 mt-2 mb-0">
                                                                        Comprehensive sale records to help you keep
                                                                        track of every transaction and customer
                                                                        preferences.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="carousel-item">
                                                                <div class="testi-contain text-center">
                                                                    <h5 class="fs-20 text-white mb-0">Generate Report on
                                                                        Sale</h5>
                                                                    <p class="fs-15 text-white-50 mt-2 mb-0">
                                                                        Analyze sales data, generate reports for
                                                                        insights, and make informed decisions for
                                                                        business growth.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- end carousel-inner -->
                                                    </div>
                                                    <!-- end review carousel -->
                                                </div>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <!-- end card -->

                        <div class="mt-5 text-center">
                            <p class="mb-0 text-muted">©
                                <script>document.write(new Date().getFullYear())</script>
                                PosSystem. <i class="mdi mdi-heart text-danger"></i> by Hosne Mubarak
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>