<div class="modal fade bs-example-modal-center" id="customModal" tabindex="-1" role="dialog"
     aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <lord-icon src="https://cdn.lordicon.com/hrqwmuhr.json" trigger="loop"
                           colors="primary:#121331,secondary:#08a88a" style="width:120px;height:120px"></lord-icon>
                <div class="mt-4">
                    <h4 class="mb-3 text-muted" id="customModalLabel">Oops something went wrong!</h4>
                    <h6 class="text-bold mb-4" id="customModalMessage"></h6>
                    <div class="hstack gap-2 justify-content-center">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <a href="javascript:void(0);" class="btn btn-danger" data-bs-dismiss="modal"
                           id="customModalTryAgain">Try Again</a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>